@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  * {
    padding: 0;
    margin: 0;
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer components {
  .main-container {
    @apply max-w-7xl mx-auto w-full px-4;
  }

  .layout {
    @apply min-h-screen;
  }

  /* Custom animations */
  .marquee {
    @apply relative h-96 w-full overflow-x-hidden;
  }

  .track {
    @apply absolute whitespace-nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 180%;
  }

  .track:hover {
    animation-play-state: paused;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px #f02d34;
  }
}
